{% extends 'accounts/default.html' %}

{% block content %}
<!-- ============= HOME SECTION -->
<!-- banner Area -->
{% include 'accounts/banner.html' %}


<!-- ============= ABOUT SECTION -->
<!-- video-sec area -->
{% include 'accounts/about.html' %}


<!-- ============= COFFEE SECTION -->
<!-- coffee menu area -->
{% include 'accounts/coffee_list.html' %}
<!-- gallery area -->
{% include 'accounts/gallery.html' %}


<!-- ============= REVIEW SECTION -->
{% include 'accounts/review.html' %}


<!-- ============= BLOG SECTION -->
{% include 'accounts/blog.html' %}
{% endblock %}